html{
    scroll-behavior: smooth;
}

/* 헤더 - prev버튼, next버튼, 연도 월 */
header {
    background-color: white;
    padding: 25px;
    text-align: center
}

body{
    background-color: royalblue;
}

/* 버튼 이미지 크기 조절 */
img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.calendar_title {
    display:inline-block;
    vertical-align: middle;
}

.calendar_title .prev, .next {
    background-color: white;
    border: none;
    vertical-align: middle
}

.calendar_title .current-year-month {
    font-size: 30px;
    color: royalblue;
    margin: 10px;

    vertical-align: middle;
}



/* content right */
.content-right {
    float: right;
    box-sizing: border-box;
    width: 100%;
    height:560px;
    white-space: nowrap;
    overflow-x: auto;
    background-color: royalblue;
}
.content-right::-webkit-scrollbar{
    display:none;
  }
.content-right::-webkit-scrollbar-thumb {
    display:none;
}
.content-right::-webkit-scrollbar-track {
    display:none;
}

/* calendar body  */
.calendar-body > div {
    box-sizing: border-box;
    text-align: center;
    width: 120px;
    height: auto;
    min-height: 200px;
    max-height: 500px;
    display: inline-block;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    vertical-align: top;
    color: royalblue;
    overflow-y: auto;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-radius: 17px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 17px;
    background-color: white;
    padding:0 0 10px 0;
    box-shadow: 0 5px 3px mediumblue;
}

.calendar-body > div + div {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-radius: 17px;
    margin-left: 18px;
}

.calendar-body > div::-webkit-scrollbar{
    width: 10px;
  }
.calendar-body > div::-webkit-scrollbar-thumb {
    background-color: royalblue;
    border-radius: 30px;
}
.calendar-body > div::-webkit-scrollbar-track {
    display:none;
}
.dateSet{
    font-size: large;
    font-weight: bold;
}
.detail {
    background: white;
    border:1px solid #5D5D5D;
    border-radius: 20px;
    position: absolute;
    height: 300px;
    width: 400px;
    margin:-150px 0px 0px -200px;
    top:50%;
    left:50%;
    padding:5px;
    text-align: center;
}
.coin_name{
    font-size:medium;
    font-weight: normal;
}
.coin_name:first-child{
    padding-top: 5px;
}
.coin_name {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 50% 0;
  background-position: center;
  transition: background-size 0.25s ease-in;
}
.coin_name:hover{
  background-size: 50% 100%;
  background-position: center;
}