body {
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}
li {list-style:none;}
a {text-decoration:none;}
table {border-collapse: collapse}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
img { vertical-align: top;}