/* btn css */
.clickBtn {
    width: 70px;
    height: 35px;
    border-radius: 10%;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background: rgb(255, 177, 228);
    margin-right: 30px;
}

/* header */
header {
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    padding: 10px;
    height: 7%;
    box-sizing: border-box;
}

header > h1 {
    display: inline-block;
    height: 100%;
    flex-grow: 1;
}

.fa-calendar-check {
    color: #fa709a;
    margin-right: 2%;
    vertical-align: middle;
}

header > h1 > span {
    color: #a7a7a7;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

.calendar_title {
    margin: 0 auto;
    flex-grow: 1;
}

.calendar_title .prev, .next {
    width: 30px;
    height: 100%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    outline: none;
    color: #5c5c5c;
}

.calendar_title .current-year-month {
    font-size: 24px;
    vertical-align: middle;
    color: rgb(255, 82, 195);
    display: inline-block;
    margin: 0 20px;
}


/* content right */
.content-right {
    float: right;
    box-sizing: border-box;
    width: 100%;
    white-space:nowrap;
    overflow-x: auto;
}

/* calendar body  */
.calendar-body > div {
    box-sizing: border-box;
    text-align: center;
    width: 200px;
    height: 500px;
    display: inline-block;
    border-bottom: 1px solid #e4e4e4;
    vertical-align: top;
    padding: 1%;
    color: rgb(255, 0, 166);
    overflow-y: auto;
}

.calendar-body > div + div {
    border-left: 1px solid #e4e4e4;
}

